.profile {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid #000;
}

.stats {
  background-color: rgba(245, 245, 245, 1);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.description {
  background-color: #fff;
  text-align: center;
  padding: 30px;
}

.avatar {
  display: inline;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.tag {
  font-size: 16px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 0;
}

.location {
  font-size: 16px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 0;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 5px;
  outline: 1px solid rgb(125, 125, 125);
}

.label {
  text-transform: capitalize;
  font-size: 14px;
  color: grey;
}

.value {
  font-weight: bold;
  margin-top: 5px;
}
